<!-- posts/templates/posts/edit-post.html -->

{% extends "layouts/layout.html" %}
{% block title %}
Edit Post | {{ block.super }}
{% endblock title %}
{% block content %}
<h4><small>Edit Posts</small></h4>
<hr>
<div class="card-body">
    <div class="table-responsive">
        <form action="{% url 'posts:update-post' object.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Name<span style="color: red">*</span> :</label>
                <input class="form-control" name="name" required rows="5" type="text" value="{{object.name}}">
            </div>
            <div class="form-group">
                <label for="comment">Content<span style="color: red">*</span> :</label>
                <textarea class="form-control" name="content" required rows="5">{{object.content}}</textarea>
            </div>
            <button class="btn btn-secondary" type="submit">Update Post</button>
        </form>
    </div>
</div>
{% endblock content %}